/*Det här är en kommentar.*/
body {
  background: #ffe6e6;
}

* {
  font-size:;
  font-family: Courier New, serif;
  color:;
}

h1 {
  font-size: 70px;
  font-family: Courier New, serif;
  color:;
}

p {
  font-size: 20px;
  font-family: Courier New, serif;
  color:;
}

ul, ol {
  font-size:20px;
  font-family: Courier New, serif;
  color:;
}

a {
  font-size: 20px;
  font-family: Courier New, serif;
  color:;
}

div {color: white;
    
}
