html, body {
  margin: 0;
  background: #ffe6e6;
}

h1, h2, a, ul, ol {
  text-align: center;
  font-size: 70;
  color: #99ff99;
}

p {
  color: #99ff99;
  font-family: "Courier New";
  font-size: 70;
  text-align: center;
}

img {border-radius: 100%;
     text-align: center;
}
