html {background: #ffe6e6;
}
h1 {
  font-size: 20px;
  font-family: "Courier New";
  color:;
}

p, ul,ol {
  font-size: 20px;
  font-family: "Courier New";
  color:red;
}

a {
  font-size: 20px;
  font-family: "Courier New";
  color:red;
}
